
/* header.scss */

body
{
	margin: 0 auto;

	h1
	{
		width: 100%;
		font-size: 2em;
		margin-bottom: 1.5em;
		float: left;
		font-weight: bold;
	}

	h2
	{
		margin: 2em 0;
	}

	ul.nav
	{
		float: right;
		display: flex;
		justify-content: space-between;

		a
		{
			padding: 0 0 5px 0;
			margin-left: 50px;
			border-bottom: 1px solid black;
			transition: 0.4s;
			opacity: 0.8;
		}

		a:hover
		{
			opacity: 1;
			border-bottom : 1px solid rgba(0,0,0,0);
		}
	}
}


