/* liste.scss */
/* line 9, ../scss/liste.scss */
body header form#connexion {
  float: right;
}
/* line 13, ../scss/liste.scss */
body header form#connexion input {
  margin: 2px 0;
  float: right;
}
/* line 20, ../scss/liste.scss */
body header form#moteurDeRecherche {
  position: relative;
  top: 20px;
  left: 30px;
}
/* line 30, ../scss/liste.scss */
body main #recherche {
  position: relative;
  top: 30px;
}
/* line 38, ../scss/liste.scss */
body main .container a.ajouterLTshirt {
  float: right;
  padding: 2px 6px 3px;
  border-radius: 3px;
  border: 1px solid #969696;
}
/* line 47, ../scss/liste.scss */
body main ul.lCat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 6px 15px;
}
/* line 54, ../scss/liste.scss */
body main ul.lCat li {
  padding: 11px 40px 0;
  margin: 0.5px;
  background: rgba(0, 30, 80, 0);
  flex: 1;
  transition: 0.3s;
  border-radius: 2px;
}
/* line 63, ../scss/liste.scss */
body main ul.lCat li a {
  transition: 0.3s;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: white;
}
/* line 77, ../scss/liste.scss */
body main ul.lCat li:hover {
  background: rgba(0, 30, 80, 0);
}
/* line 82, ../scss/liste.scss */
body main ul.lTshirt {
  position: relative;
  top: 40px;
}
/* line 86, ../scss/liste.scss */
body main ul.lTshirt li {
  padding: 3px 0 2px;
  margin: 6px 4px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0);
  transition: 0.3s;
}
/* line 94, ../scss/liste.scss */
body main ul.lTshirt li form {
  background: white;
}
/* line 98, ../scss/liste.scss */
body main ul.lTshirt li form li {
  background: white;
}
/* line 103, ../scss/liste.scss */
body main ul.lTshirt li form li:hover {
  background: white;
}
/* line 109, ../scss/liste.scss */
body main ul.lTshirt li ul.options {
  margin-left: 10px;
  width: 80px;
  float: left;
}
/* line 115, ../scss/liste.scss */
body main ul.lTshirt li ul.options li {
  background-color: none;
  background: rgba(0, 0, 0, 0);
  position: relative;
  top: -4px;
}
/* line 123, ../scss/liste.scss */
body main ul.lTshirt li ul.options li:hover {
  color: #1e64a0;
}
/* line 132, ../scss/liste.scss */
body main ul.lTshirt li:hover {
  background: rgba(40, 150, 200, 0);
}
