/* liste.scss */
/* line 7, ../scss/liste.scss */
body ul.lCat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 6px 15px;
}
/* line 14, ../scss/liste.scss */
body ul.lCat li {
  padding: 11px 40px 0;
  margin: 0.5px;
  background: rgba(0, 30, 80, 0.85);
  flex: 1;
  transition: 0.3s;
  border-radius: 2px;
}
/* line 23, ../scss/liste.scss */
body ul.lCat li a {
  transition: 0.3s;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: white;
}
/* line 37, ../scss/liste.scss */
body ul.lCat li:hover {
  background: rgba(0, 30, 80, 0.8);
}
/* line 44, ../scss/liste.scss */
body ul.lTshirt li {
  padding: 3px 0 2px;
  margin: 6px 4px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.04);
  transition: 0.3s;
}
/* line 52, ../scss/liste.scss */
body ul.lTshirt li form {
  background: white;
}
/* line 56, ../scss/liste.scss */
body ul.lTshirt li form li {
  background: white;
}
/* line 61, ../scss/liste.scss */
body ul.lTshirt li form li:hover {
  background: white;
}
/* line 67, ../scss/liste.scss */
body ul.lTshirt li ul.options {
  margin-left: 10px;
  width: 7%;
  float: left;
}
/* line 73, ../scss/liste.scss */
body ul.lTshirt li ul.options li {
  background-color: none;
  background: rgba(0, 0, 0, 0);
  position: relative;
  top: -4px;
}
/* line 81, ../scss/liste.scss */
body ul.lTshirt li ul.options li:hover {
  color: #1e64a0;
}
/* line 90, ../scss/liste.scss */
body ul.lTshirt li:hover {
  background: rgba(40, 150, 200, 0.3);
}
