/* liste.scss */
/* line 11, ../scss/liste.scss */
body header form#connexion input, body header form#inscription input {
  margin: 2px 0;
}
/* line 17, ../scss/liste.scss */
body header form#moteurDeRecherche {
  float: right;
  position: relative;
  top: -75px;
}
/* line 27, ../scss/liste.scss */
body main #recherche {
  position: relative;
}
/* line 34, ../scss/liste.scss */
body main .container form.ajouterLTshirt {
  position: relative;
  margin-bottom: 30px;
}
/* line 40, ../scss/liste.scss */
body main .container a.ajouterLTshirt {
  float: right;
  padding: 2px 6px 3px;
  border-radius: 3px;
  border: 1px solid #969696;
}
/* line 49, ../scss/liste.scss */
body main ul.lCat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 6px 15px;
}
/* line 56, ../scss/liste.scss */
body main ul.lCat li {
  padding: 11px 40px 0;
  margin: 0.5px;
  background: rgba(0, 30, 80, 0.85);
  flex: 1;
  transition: 0.3s;
  border-radius: 2px;
}
/* line 65, ../scss/liste.scss */
body main ul.lCat li a {
  transition: 0.3s;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: white;
}
/* line 79, ../scss/liste.scss */
body main ul.lCat li:hover {
  background: rgba(0, 30, 80, 0.8);
}
/* line 84, ../scss/liste.scss */
body main ul.lTshirt {
  position: relative;
  clear: both;
}
/* line 88, ../scss/liste.scss */
body main ul.lTshirt li {
  padding: 3px 0 2px;
  margin: 6px 4px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.04);
  transition: 0.3s;
}
/* line 96, ../scss/liste.scss */
body main ul.lTshirt li form {
  background: white;
}
/* line 100, ../scss/liste.scss */
body main ul.lTshirt li form li {
  background: white;
}
/* line 105, ../scss/liste.scss */
body main ul.lTshirt li form li:hover {
  background: white;
}
/* line 111, ../scss/liste.scss */
body main ul.lTshirt li ul.options {
  margin-left: 10px;
  width: 80px;
  float: left;
}
/* line 117, ../scss/liste.scss */
body main ul.lTshirt li ul.options li {
  background-color: none;
  background: rgba(0, 0, 0, 0);
  position: relative;
  top: -4px;
  cursor: pointer;
}
/* line 126, ../scss/liste.scss */
body main ul.lTshirt li ul.options li:hover {
  color: #1e64a0;
}
/* line 135, ../scss/liste.scss */
body main ul.lTshirt li:hover {
  background: rgba(40, 150, 200, 0.3);
}
